---
import Layout from "@/layouts/Layout.astro"
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
---

<Layout title="About">
  <div class="flex flex-col justify-center items-center">
    <h1 class="p-16 text-5xl text-gradient">About this page</h1>
    <div class=" px-20">
      <p class="leading-loose">This obviously fake store (I mean, the data is coming from the fake store API) is a little, silly project from <a class="text-blue-600 hover:text-blue-200 dark:text-red-700 hover:dark:text-red-300" href="https://github.com/DerTimonius" target="_blank">me</a> to learn about <a class="text-blue-600 hover:text-blue-200 dark:text-red-700 hover:dark:text-red-300" href="https://astro.build" target="_blank">Astro</a>, a great framework that is optimized for speed. I know, it does not really matter for this little application, but who knows, maybe I have to use it in the future for something way bigger. And knowing your way around new frameworks is always a good idea.</p>
    </div>
    <div class=" pt-12 min-w-min flex flex-col justify-center items-center">
      <h2 class="text-3xl p-12">Technologies used</h2>
      <div class="grid grid-cols-2 gap-4">
          <Card className="px-4 py-3">
            <CardHeader>
              <CardTitle>Frameworks</CardTitle>
              <CardDescription>
                What frameworks this I use to build this.
              </CardDescription>
            </CardHeader>
            <CardContent className="space-y-2">
              <div class="space-y-1">
                <h3 class="text-2xl">Astro</h3>
                <p>For its simplicity and speed</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-2xl">React</h3>
                <p>For interactivity and state management</p>
              </div>
            </CardContent>
          </Card>
          <Card className="px-4 py-3">
            <CardHeader>
              <CardTitle>Styling</CardTitle>
              <CardDescription>
                What I used to style this page.
              </CardDescription>
            </CardHeader>
            <CardContent className="space-y-2">
              <div class="space-y-1">
                <h3 class="text-2xl">TailwindCSS</h3>
                <p>Because utility classes are great</p>
              </div>
              <div class="space-y-1">
                <h3 class="text-2xl">shadcn-ui/ui</h3>
                <p>Because it offers great components</p>
              </div>
            </CardContent>
          </Card>
        </div>
    </div>
  </div>
</Layout>
