---
import Layout from "@/layouts/Layout.astro";
import Products from "@/components/Products";
---

<Layout title="Store">
  <div class="flex flex-col justify-center items-center gap-4 mt-4">
    <Products client:only="react" />
  </div>
</Layout>
