---
import { CartButton } from './CartButton';
import ThemeToggle from './ThemeToggle';
import { Button } from './ui/button';
---

<nav class="flex flex-row justify-around bg-slate-200 w-full h-16 py-4">
  <div>
    <a href="/">
      <Button variant="link" size="lg" className="dark:text-gray-900">Home</Button>
    </a>
  </div>
  <div class="gap-2">
    <a href="/store">
      <Button variant="link" size="lg" className="dark:text-gray-900">Store</Button>
    </a>
    <a href="/about">
      <Button variant="link" size="lg" className="dark:text-gray-900">About</Button>
    </a>
    <CartButton client:load />
  </div>
  <ThemeToggle client:load />
</nav>
